.slider{
  .anc_slider{
    display: inline-block;
    width: 100%;
    overflow: hidden;
    img{
      max-width: 100%;
      transition: 15s;
      &:hover{
        transform: scale(1.5);
      }
    }
  }
  @include owl-nav_;
  @include dots_;
}

@include xs{
  .slider{
    .owl-dots{
      bottom: 20px;
    }
  }
}