@font-face {
  font-family: 'Frutiger';
  src: url('../fonts/FrutigerLTArabic-45Light.woff2') format('woff2'),
      url('../fonts/FrutigerLTArabic-45Light.woff') format('woff'),
      url('../fonts/FrutigerLTArabic-45Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Frutiger';
  src: url('../fonts/FrutigerLTArabic-55Roman.woff2') format('woff2'),
      url('../fonts/FrutigerLTArabic-55Roman..woff') format('woff'),
      url('../fonts/FrutigerLTArabic-55Roman..ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Frutiger';
  src: url('../fonts/FrutigerLTArabic-65Bold.woff2') format('woff2'),
      url('../fonts/FrutigerLTArabic-65Bold.woff') format('woff'),
      url('../fonts/FrutigerLTArabic-65Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: 'Frutiger';
  src: url('../fonts/FrutigerLTArabic-75Black.woff2') format('woff2'),
      url('../fonts/FrutigerLTArabic-75Black.woff') format('woff'),
      url('../fonts/FrutigerLTArabic-75Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



